

@media screen and (max-width: 1600px){

    .service{
        margin: auto;
        width: 100%;
        
        &__item{
            width: 340px !important;
            height: 350px !important;
        }
    }
    .title-box{
        &--services{
            .suptitle{
                text-align: center;
            }
            .title{
                text-align: center;
            }
        }
    }
    .review{
        width: 90wh;
    }
}

@media screen and (max-width: 1400px){
    .row-header{
        width: 90%;
    }
    .title-box{
        &--mod-shift{
            top: 7%;
            left: 50%;
            transform: translateX(-50%);
        }
        .title{
            font-size: $fontL;
        }
    }
    .button{
        padding: 10px;
    }
    .slider-lengthy{
        .slick-prev{
            right: 15%;
        }
        .slick-next{
            right: 15%;
        }
        .slick-dots{
            left: 15%;
        }
    }
    .img-logo{
        margin-left: 60px !important;
    }
}

@media screen and (max-width: 1200px){
    .row-header{
        margin: auto;
        width: 85%;
    }
    .logo{
        margin-left: 50px;
    }
    .brand{
        font-size: $fontM;
    }
    .button{
        padding: 5px;
    }
    .slider-lengthy{
        width: 850px;
    }
    .service{
        width: 70%;
        grid-template: repeat(3, 1fr)/repeat(2, 1fr) !important;
        &__item{
            width: 350px !important;
            height: 360px !important;
        }
    }
    .title-box{
        &--services{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 3%;
        }
    }
    .section-grid__item{
        width: 340px !important;
        height: 340px !important;
    }
}

@media screen and (max-width: 992px){
    .brand{
        margin-left: 15px !important;
        font-size: $fontS;
    }
    .title-box{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        .title{
            text-align: center;
            // margin: 35px;
        }
        .suptitle{
            margin: 0;
        }
        &--mod{
            top: 30%;
        }
        &--services{
            top: 7%;
        }
        &--company{
            position: absolute;
            top: 7%;
        }
    }
    .shift-center{
        transform: translate(-50%, 0);
    }
    .slider{
        .slick-arrow{
            display: none !important;
        }
        .slick-dots{
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .slider-lengthy{
        width: 700px;
    }
    .service{
        width: 65%;
        &__item{
            width: 255px !important;
            height: 260px !important;
            &-text{
                font-size: $fontS !important;
            }
        }
    }
    .section-grid{
        width: 70%;
        &__item{
            width: 300px !important;
            height: 300px !important;
        }
    }
    .title-box--form{
        position: static !important;
        .title{
            margin: 0;
        }
    }
}

@media screen and (max-width:800px){
    .title-box{
        .title{
            font-size: $fontM;
        }
        &--services{
            top: 10%;
        }
    }
    .service{
        width: 60%;
        &__item{
            width: 180px !important;
            height: 185px !important;
            &-text{
                font-size: $fontXS !important;
            }
        }
    }
    .section-grid{
        width: 65%;
        &__item{
            width: 250px !important;
            height: 250px !important;
        }
    }
}

@media screen and (max-width: 768px){
    .lock{
        overflow: hidden;
    }
    .nav {
        
        margin: 0;
        &__list {
            margin: 0;
            padding: 30px 0 30px 50px;
            position: fixed;
            z-index: 10;
            top: -130%;
            /*задвигаем меню выше видимой части экрана*/
            left: 0;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: start !important;
            align-items: end;
            // background: url(../images/content/);
            background-color: rgba(255, 255, 255, 0.6);
            transition: all 0.5s ease 0s;
            &-item{
                margin: 2em 0px;
                background-color: $colorBlue;
                &:hover{
                    .nav__link{
                        color: $colorDark;
                    }
                }
            }
        
            &.active {
                top: 0;
                /*выдвигаем меню на видимый экран при активации меню-бургер*/
            }
        }
        &__link {
            position: relative;
            z-index: 3;
            font-size: $fontL;
            padding: 0 1.5rem;
            color: $colorLight;
            font-weight: $fontBold;
        }
        &__burger {
            /*создаем меню-бургер*/
            display: block;
            position: relative;
            top: 15%;
            left: 70%;
            width: 40px;
            height: 25px;
            z-index: 11;
        
            &::after,
            &::before {
                /*создаем горизонтальные линии для меню-бургер*/
                content: "";
                background: $colorBlue;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }
            /*раздвигаем две линии вверх и вниз по блоку бургера*/
            &::after {
                bottom: 0;
            }
            &::before {
                top: 0;
            }
            /*создаем среднюю линию бургера*/
            span {
                position: absolute;
                background-color: $colorBlue;
                left: 0;
                width: 100%;
                height: 2px;
                top: 12px;
                transition: all 0.3s ease 0s;
            }
            /*делаем крест при активированном меню-бургер*/
            &.active::before {
                transform: rotate(45deg);
                top: 11.5px;
                background-color: $colorBlue;
            }
            &.active::after {
                transform: rotate(-45deg);
                bottom: 11.5px;
                background-color: $colorBlue;
            }
            &.active span {
                transform: scale(0);
            }
        }
    }

    .button{
        width: 60%;
    }
    .section-grid{
        width: 65%;
        &__item{
            width: 200px !important;
            height: 200px !important;
        }
    }
    .section-reviews{
        .review{
            padding: 10px 5px !important;
            &__text{
                font-size: $fontXS;
            }
            &__data{
                width: 100%;
            }
        }
        .slider-lengthy{
            width: 450px;
            // position: absolute;
            // top: 20%;
            // left: 50%;
            // transform: translateX(-50%);
        }
        .slider-lengthy{
            top: 20%;
            .slick-dots{
                top:70%;
            }
        }
        .title-box{
                position: absolute;
                top:40%;
        }
    }
    .forms-grid{
        grid-template: 
            "inp1" 1fr
            "inp2" 1fr
            "ar" 2fr
            "but" 1fr !important;
            gap: 30px;
    }
    .slider-lengthy--mod{
        width: 90%;
    }
}


@media screen and (max-width: 576px){
    
    .button{
        width: 80%;
    }
    .service{
        width: 75%;
        grid-template: repeat(6, 1fr)/ 1fr !important;
        &__item{
            width: 250px !important;
            height: 255px !important;
            &-text{
                font-size: $fontS !important;
            }
        }
    }
    .title-box{
        &--services{
            top: 5%;
        }
        &--company{
            top: 5%;
        }
    }
    .section-grid{
        grid-template: repeat(4, 1fr)/1fr !important;
        width: 90%;
        &__item{
            margin: auto;
            width: 310px !important;
            height: 310px !important;
        }
    }
    .review{
        padding: 10px 5px !important;
    }
    .forms{
        &-grid{
            width: 90% !important;
            .forms__item{
                width: 90% !important;
            }
        }
    }
    .section-clients__wrapper{
        height: 500px;
    }
}