.header{
    max-width: 1920px;
    .sup-menu{
        margin-left: 1em;
        &__item{
            margin-left: 2em;
            .item-text{
                font-family: $fontMenu;
                font-weight: $fontNormal;
                font-size: $fontSupText;
            }
        }
    }
    .logotype{
        font-family: $fontFamily;
        font-size: $fontL;
        font-weight: $fontBolder;
        color: $colorBlue;
    }
    .nav-link--nav{
        font-family: $fontMenu;
        text-transform: uppercase;
        font-size: $fontXS;
        font-weight: $fontBold;
        color: $colorDark;
    }

}

.my-nav {
    &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;

    }
}
.nav__item {
    margin-left: 2em ;
    padding: 0.65rem 0;
    text-decoration: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: rgb(22, 22, 22);
    border-radius: 5px;
    &:hover {
        background-color: rgb(208, 57, 88);
        color: rgb(255, 255, 255);
        transition: all 0.7s ease 0s;
    }
}
@media screen and (max-width:768px) {
    .row {
        align-items: center;
    }
    .nav {
        margin: 0;
 
        &__list {
            margin: 0;
            padding: 30px 0;
            position: fixed;
            z-index: 10;
            top: -130%;
            /*задвигаем меню выше видимой части экрана*/
            left: 0;
            width: 100%;
            height: 90%;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: rgba(98, 93, 83, 0.729);
            transition: all 0.5s ease 0s;

            &.active {
                top: 0;
                /*выдвигаем меню на видимый экран при активации меню-бургер*/
            }
        }
        &__item {
            position: relative;
            z-index: 3;
            font-size: 1.5rem;
            padding: 0.65rem 1.5rem;
            color: white;
            font-weight: bold;

            &:hover {
                /*немного красоты для активной кнопки меню*/
                box-shadow: 0 5px #000;
                text-shadow: 0 5px #000;
                transition: all 0.7s ease 0s;
            }
        }
        &__burger {
            /*создаем меню-бургер*/
            display: block;
            position: relative;
            width: 40px;
            height: 25px;
            z-index: 11;

            &::after,
            &::before {
                /*создаем горизонтальные линии для меню-бургер*/
                content: "";
                background: rgb(22, 22, 22);
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }
            /*раздвигаем две линии вверх и вниз по блоку бургера*/
            &::after {
                bottom: 0;
            }
            &::before {
                top: 0;
            }
            /*создаем среднюю линию бургера*/
            & .icon-burger {
                position: absolute;
                background-color: rgb(22, 22, 22);
                left: 0;
                width: 100%;
                height: 2px;
                top: 12px;
                transition: all 0.3s ease 0s;
            }
            /*делаем крест при активированном меню-бургер*/
            &.active::before {
                transform: rotate(45deg);
                top: 11.5px;
                background-color: #fff;
            }
            &.active::after {
                transform: rotate(-45deg);
                bottom: 11.5px;
                background-color: #fff;
            }
            &.active span {
                transform: scale(0);
            }
        }
    }
}