


.section-home{
    max-height: 670px;
    min-height: 300px;
    position: relative;
    background-color: rgba(235, 235, 235, 1);
}
.section-services{
    background-color: rgba(235, 235, 235, 1);
    .service{
        margin-top: 100px;
        display: grid;
        grid-template: repeat(2, 1fr)/repeat(3, 1fr);
        gap: 30px;
        &__item{
            margin: auto;
            width: 350px;
            height: 360px;
            position: relative;
            .wrapper-item{
                background: (rgba(34, 34, 34, 0.5));
                position: absolute; 
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                &:hover{
                    background-image: linear-gradient(rgba(0, 95, 163, 0.497));
                }
            }
            &-text{
                z-index: 3;
                font-family: $fontMenu;
                font-size: $fontM;
                font-weight: $fontBolder; 
                color: $colorLight;
            }
        }
    }
}
.section-company{
    .section__text{
        padding: 0 10px 20px 0;
        .text{
            margin-top: 50px;
            font-family: $fontMenu;
            font-size: $fontS;
            font-weight: $fontLight;
            color: $colorDark;
            line-height: 1.5em;
            letter-spacing: 0.08em;
        }
    }
    .section-grid{
        margin-left: 85px;
        padding: 40px;
        display: grid;
        grid-template: repeat(2, 1fr)/repeat(2, 1fr);
        gap: 30px;
        &__item{
            width: 265px;
            height: 265px;
            padding: 25px;
            background-color: $colorLightGray;
            .counter{
                font-family: $fontMenu;
                font-size: 55px;
                font-weight: $fontBolder;
                color: $colorDark;
            }
            &-text{
                margin: 10% 0px;
                width: 60%;
                font-family: $fontMenu;
                font-size: $fontXS;
                font-weight: $fontBold;
                .label{
                    color: $colorDark;
                }
            }
            a{
                margin: 0;
                text-decoration: underline;
            }
            &:hover{
                background-color: $colorBlue;
                color: $colorLight;
                
                a, .counter, .label{
                    color: $colorLight;
                }
            }
        }
    }
}
.section-clients{
    position: relative;
    background-color: $colorLightGray;
    &__wrapper{
        // padding: 100px 0px;
        margin-bottom: 100px;
        height: 700px;
    }
    .img-logo{
        margin-left: 30px;
    }
}
.section-reviews{
    position: relative;
    &__wrapper{
        padding: 100px 0px;
        margin-bottom: 100px;
        height: 630px;
    }
    .review{
        padding: 1.5em 4em;
        background-color: $colorLightGray;
        &__text{
            font-family: $fontMenu;
            font-size: $fontS;
            font-weight: $fontLight;
            line-height: 25px;
        }
        &__data{
            width: 100%;
            .data-users{
                &__title{
                    font-family: $fontMenu;
                    font-size: $fontS;
                    font-weight: $fontBolder;
                }
                &__subtitle{
                    font-family: $fontMenu;
                    font-size: $fontXS;
                    font-weight: $fontNormal;
                }
            }
        }
    }
}
.section-connection{
    max-width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(../images/content/bacgrounds/city6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .title-box--form{
        .title{
            font-family: $fontFamily;
            font-size: $fontXL;
            font-weight: $fontBolder;
            &--mod{
                color: $colorBlue;
            }
        }
        .subtitle{
            font-family: $fontMenu;
            font-size: $fontS;
            font-weight: $fontLight;
            line-height: 1.6em;
            letter-spacing: 0.08em;
        }
    }
    .contacts{
        color: $colorLight;
        &-item{
            img{
                display: inline;
            }
        }
        .item-text{
            margin: 10px;
            font-family: $fontMenu;
            font-size: 21px;
            font-weight: $fontLight;
        }
    }
    .inp1{
        grid-area: inp1;
    }
    .inp2{
        grid-area: inp2;
    }
    .area{
        grid-area: ar;
    }
    .btn-grid{
        grid-area: but;
    }
    .forms-grid{
        width: 100%;
        display: grid;
        grid-template: 
            "inp1 inp2" 1fr
            "ar ar" 2fr
            "but but" 1fr / 1fr 1fr ;
            gap: 30px;
        .forms__item{
            &-label{
                font-family: $fontMenu;
                font-size: 16px;
                font-weight: $fontNormal;
                letter-spacing: 0.1em;
            }
            &-input{
                padding: 5px;
                background: none ;
                border: none;
                border-bottom: 2px solid $colorGray;
                font-family: $fontMenu;
                font-size: 21px;
                font-weight: $fontLight;
                color: $colorGray;
                letter-spacing: 0.01em;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.603);
                    color: $colorDark;
                    font-weight: $fontBold;
                    // letter-spacing: 0.01em;
                }
                &::-webkit-input-placeholder {
                    color: $colorGray;
                    font-family: $fontMenu;
                    font-weight: $fontLight;
                } 
                &::-moz-input-placeholder{
                    color: $colorGray;
                    font-family: $fontMenu;
                    font-weight: $fontLight;
                }

            }
        }
    }
}

