
.button{
    width: 45%;
    padding: 15px;
    border: none;
    border-radius: 0;
    background-color: $colorBlue;
    color: $colorLight;
    font-family: $fontMenu;
    font-weight: $fontNormal;
    font-size: $fontS;
}
.container{
    padding: 100px 0;
}
.header{
    .sup-menu{
        margin-left: 1em;
        &__item{
            margin-left: 3em;
            .item-text{
                font-family: $fontMenu;
                font-weight: $fontNormal;
                font-size: $fontSupText;
            }
        }
    }
    .logotype{
        font-family: $fontFamily;
        font-size: $fontL;
        font-weight: $fontBolder;
        color: $colorBlue;
    }
    .nav-link--nav{
        font-family: $fontMenu;
        text-transform: uppercase;
        font-size: $fontXS;
        font-weight: $fontBold;
        color: $colorDark;
    }
    .nav-item--shift{
        margin-left: 3.5em;
    }
}
.title-box{
    .suptitle{
        font-family: $fontMenu;
        font-size: $fontM;
        font-weight:$fontBolder;
        color: $colorGray;
    }
    .title{
        font-family: $fontFamily;
        font-size: $fontXL;
        font-weight: $fontBolder;
        &--mod{
            color: $colorBlue;
        }
    }
    .subtitle{
        font-family: $fontMenu;
        font-size: $fontS;
        font-weight: $fontLight;
        line-height: 1.6em;
        letter-spacing: 0.08em;
    }

}
.section-home{
    position: relative;
    .slider{
        width: 100%;
    }
    .title-box--home{
        max-width: 590px;
        height: 40%;
        position: absolute;
        left: 15%;
        top: 50%;
        transform: translateY(-50%);
        &__text{
            color: $colorLight;
            font-family: $fontFamily;
            font-size: $fontXL;
            font-weight: $fontBold;
        }
    }
}
.section-services{
    .service{
        margin-top: 100px;
        // height: 750px;
        display: grid;
        grid-template: repeat(2, 1fr)/repeat(3, 1fr);
        gap: 30px;
        &__item{
            max-width: 350px;
            max-height: 360px;
            background-color: rgba(0, 95, 163, 0.497);
            &-text{
                font-family: $fontMenu;
                font-size: $fontM;
                font-weight: $fontBolder; 
                color: $colorLight;
            }
        }
    }
}
.section-company{
    .section__text{
        padding: 0 10px 20px 0;
        .text{
            margin-top: 50px;
            font-family: $fontMenu;
            font-size: $fontS;
            font-weight: $fontLight;
            color: $colorDark;
            line-height: 1.5em;
            letter-spacing: 0.08em;
        }
    }
    .section-grid{
        padding: 40px;
        display: grid;
        grid-template: repeat(2, 1fr)/repeat(2, 1fr);
        gap: 20px;
        &__item{
            padding: 30px;
            background-color: $colorLightGray;
            .counter{
                font-family: $fontMenu;
                font-size: 55px;
                font-weight: $fontBolder;
                color: $colorDark;
            }
            &-text{
                margin: 10% 0px;
                width: 60%;
                font-family: $fontMenu;
                font-size: $fontXS;
                font-weight: $fontBold;
                .label{
                    color: $colorDark;
                }
            }
            a{
                margin: 0;
                text-decoration: underline;
            }
            &:hover{
                background-color: $colorBlue;
                color: $colorLight;
                
                a, .counter, .label{
                    color: $colorLight;
                }
            }
        }
    }
}
.section-clients{

}
.section-reviews{

}
.section-connection{
    background: url(../images/content/Rectangle.jpg);

    .contacts{
        color: $colorLight;
        &-item{
            img{
                display: inline;
            }
        }
        .item-text{
            margin: 10px;
            font-family: $fontMenu;
            font-size: 21px;
            font-weight: $fontLight;
        }
    }
    .inp1{
        grid-area: i1;
    }
    .inp2{
        grid-area: i2;
    }
    .area{
        grid-area: a;
    }
    .btn-grid{
        grid-area: b;
    }
    .forms-grid{
        width: 100%;
        display: grid;
        grid-template: 
            "i1 i2" 1fr
            "a a" 2fr
            "b b" 1fr / 1fr 1fr ;
            gap: 30px;
        .forms__item{
            &-label{
                font-family: $fontMenu;
                font-size: 16px;
                font-weight: $fontNormal;
                letter-spacing: 0.1em;
            }
            &-input{
                padding: 5px;
                background: none ;
                border: none;
                border-bottom: 1px solid $colorGray;
                font-family: $fontMenu;
                font-size: 21px;
                font-weight: $fontLight;
                color: $colorGray;
                letter-spacing: 0.01em;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.603);
                    color: $colorDark;
                    font-weight: $fontBold;
                    // letter-spacing: 0.01em;
                }
                &::-webkit-input-placeholder {
                    color: $colorGray;
                    font-family: $fontMenu;
                    font-weight: $fontLight;
                } 
                &::-moz-input-placeholder{
                    color: $colorGray;
                    font-family: $fontMenu;
                    font-weight: $fontLight;
                }

            }
        }
    }
}
.error{
    height: 10px;
    font-family: $fontMenu;
    font-size: $fontSupText;
    color: $colorError;
}
.right-shrink{
    padding-right: 25px;
}
    // .error{
    //     background-color: rgba(194, 194, 194, 0.239);
    //     box-shadow: inset 0 0 15px 0 red;
    // }


// .footer{}