.nav {
    width: 60%;
    &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        &-item{
            display: flex;
            align-items: center;
            &:hover{
                background-color: $colorBlue;
                transition: all 0.3s ease 0s;
                .nav__link{
                    color: white;
                }
            }
        }
    }
    &__link{
        text-decoration: none;
        font-family: $fontMenu;
        font-size: $fontXS;
        font-weight: $fontBold;
        text-transform: uppercase;
        color: $colorDark;
    }
    
}
@media screen and (max-width:800px) {
    .lock{
        overflow: hidden;
    }
    .nav {
        
        margin: 0;
        &__list {
            margin: 0;
            padding: 30px 0;
            position: fixed;
            z-index: 10;
            top: -130%;
            /*задвигаем меню выше видимой части экрана*/
            left: 0;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: start !important;
            align-items: end;
            // background: url(../images/content/);
            background-color: rgba(255, 255, 255, 0.6);
            transition: all 0.5s ease 0s;
            &-item{
                margin: 2em 0px;
                background-color: $colorBlue;
                &:hover{
                    .nav__link{
                        color: $colorDark;
                    }
                }
            }
        
            &.active {
                top: 0;
                /*выдвигаем меню на видимый экран при активации меню-бургер*/
            }
        }
        &__link {
            position: relative;
            z-index: 3;
            font-size: $fontL;
            padding: 0 1.5rem;
            color: $colorLight;
            font-weight: $fontBold;
        }
        &__burger {
            /*создаем меню-бургер*/
            display: block;
            position: relative;
            top: 15%;
            left: 80%;
            width: 40px;
            height: 25px;
            z-index: 11;
        
            &::after,
            &::before {
                /*создаем горизонтальные линии для меню-бургер*/
                content: "";
                background: $colorBlue;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }
            /*раздвигаем две линии вверх и вниз по блоку бургера*/
            &::after {
                bottom: 0;
            }
            &::before {
                top: 0;
            }
            /*создаем среднюю линию бургера*/
            span {
                position: absolute;
                background-color: $colorBlue;
                left: 0;
                width: 100%;
                height: 2px;
                top: 12px;
                transition: all 0.3s ease 0s;
            }
            /*делаем крест при активированном меню-бургер*/
            &.active::before {
                transform: rotate(45deg);
                top: 11.5px;
                background-color: $colorBlue;
            }
            &.active::after {
                transform: rotate(-45deg);
                bottom: 11.5px;
                background-color: $colorBlue;
            }
            &.active span {
                transform: scale(0);
            }
        }
    }
}