.nav {
    width: 60%;
    &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        &-item{
            display: flex;
            align-items: center;
            &:hover{
                background-color: $colorBlue;
                transition: all 0.3s ease 0s;
                .nav__link{
                    color: white;
                }
            }
        }
    }
    &__link{
        text-decoration: none;
        font-family: $fontMenu;
        font-size: $fontXS;
        font-weight: $fontBold;
        text-transform: uppercase;
        color: $colorDark;
    }
    
}
@media screen and (max-width:800px) {
    
}