$colorBgSlider: #222222a9;
$colorLight: rgba(255, 255, 255, 1);
$colorDark: rgba(34, 34, 34, 1);
$colorBlue: rgba(0, 95, 163, 1);
$colorGray: rgba(189, 189, 189, 1);
$colorLightGray: rgb(233, 233, 233);
$colorError: rgb(255, 0, 0);

$fontFamily: 'Merriweather', serif;
$fontMenu: 'Lato', sans-serif;


$fontXL: 48px;
$fontL: 36px;
$fontM: 24px;
$fontS: 18px;
$fontXS: 14px;
$fontSupText: 13px;


$fontBolder: 900;
$fontBold: 700;
$fontNormal: 400;
$fontLight: 300;